<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans:400" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    <style type="text/css">
        h1 {
            text-align: center;
        }

        .segment.file_input {
            padding: 0px !important;
        }

        input {
            padding-bottom: 30px !important;
            padding-top: 30px !important;
            padding-left: 30px !important;
            width: 100% !important;
        }

    </style>
</head>
<body>

<div class="ui labeled icon menu">
    <img src="https://d1.awsstatic.com/International/ko_KR/banners/Hands-on%20Labs%20LP%20Banner.04c83ecb7c16f458e5723909ee1301e43453ee6b.png"
         width=450 height=75>

    <div class="right  menu">
        <a class="item" href="#">
            <i class="file archive icon"></i>
            csv 업로드
        </a>
        <a class="item" href="#">
            <i class="archive icon"></i>
            shp 업로드
        </a>
        <a class="item" href="#">
            <i class="cloud upload icon"></i>
            스트리밍
        </a>
    </div>
</div>
<div class="ui centered grid">

    <div class="one wide column"></div>
    <div class="twelve wide column">
        <form class="ui" enctype="multipart/form-data" action="" method="post">
            <div class="ui top attached header">
                <h1>탐방로 수목 조사자료 업로드(csv)</h1>

            </div>


            <div class="ui attached segment">
                <a class="ui teal ribbon label">gps 좌표 csv</a>
                <span>아래에 파일을 드래그 엔 드롭 하세요</span></div>
            <div class="ui attached file_input segment">

                <input type="file" name="point_csv">
            </div>

            <div class="ui attached segment">
                <a class="ui blue ribbon label">수목정보 csv</a>
                <span>아래에 파일을 드래그 엔 드롭 하세요</span>
            </div>

            <div class="ui attached file_input segment">
                <input type="file" name="info_csv">
            </div>
            <div class="ui bottom attached clearing segment">
                <div class="ui success message">
                    <div class="header">gis datalake에 성공적으로 저장 되었습니다</div>
                </div>

                <div class="ui error message">
                    <div class="header">업로드를 실패했습니다.</div>
                    <ul class="list">
                        <li>올바르지 않은 포맷입니다.</li>
                        <li>파일 두개 모두 업로드 해주세요</li>
                    </ul>
                </div>
                <div class="ui right floated buttons">
                    <button class="ui button" type="reset">
                        <i class="undo icon"></i>다시하기
                    </button>
                    <div class="or"></div>
                    <button class="ui primary button" type="submit">
                        <i class="cloud upload icon"></i>업로드
                    </button>
                </div>
            </div>
        </form>

    </div>

    <div class="one wide column"></div>
</div>


<script src="https://cdn.jsdelivr.net/npm/dropzone@5.4.0/dist/dropzone.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
</body>
</html>